body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.full-page {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image:  url("/static/img/finalgo2.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
}

/* Style inputs */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(58, 194, 17);
    margin-top: 6px;
    margin-bottom: 16px;

}

.home-btn {
    width: 80px;
    padding: 10px 10px;
    cursor: pointer;
    margin-right: 90%;
    background: #9bf393;
    border: 0;
    outline: none;
    border-radius: 30px;
    position: relative;
}

input[type=submit] {
    background-color: #169e1b;
    color: rgb(248, 247, 247);
    padding: 20px 29px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-size: medium;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    position: relative;
    margin: auto;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}