<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="stylesheet" href="{% static 'css/contactus.css' %}">
    
</head>

<body>
    <div class="full-page">
        <!--
        <ul>
            <li style="color: #ffffff;" "background: #000000; >
                <h1><a href="homepage.html"><button type='home' class='home-btn'>
                             Home</button></a>Responsive Content Section</h1>
            </li>-->
        </ul>
        <div class="container">
            <div style="text-align:center">
                <a href="{% url 'home' %}"><button type='home' class='home-btn'>
                    Home</button></a>

                <h2><span style="color: white;">Contact Us</span></h2>
                <p><span style="color: white;">Swing by for a cup of coffee, or leave us a message:</span></p>
            </div>
            <div class="row">

                <!--
                <div class="column">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15065.417396209425!2d73.45170506895775!3d19.26695064763284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be78a06f1e29e55%3A0xdf5c36215408f4c6!2sShivale%2C%20Maharashtra%20421401!5e0!3m2!1sen!2sin!4v1659193427669!5m2!1sen!2sin"
                        width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>"
                   
                </div>-->
                <div class="column">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <label for="fname"><span style="color: white;">First Name</span></label>
                        <input type="text" id="fname" name="first_name" placeholder="Your name..">
                        <label for="lname"><span style="color: white;">Last Name</span></label>
                                <input type="text" id="lname" name="last_name" placeholder="Your last name..">
                                <label for="country"><span style="color: white;">Country</span></label>
                                        <select id="country" name="country">
                                            <option value="australia"><span style="color: white;">Australia</span></option>
                                            <option value="canada"><span style="color: white;">Canada</span></option>
                                            <option value="canada"><span style="color: white;">India</span></option>
                                            <option value="canada"><span style="color: white;">Japan</span></option>
                                            <option value="usa"><span style="color: white;">United State Kigdom (USA)
                                                    </span></option>
                                        </select>
                                        <label for="subject"><span style="color: white;">Subject</span></label>
                                        <textarea id="subject" name="msg" placeholder="Write something.."
                                            style="height:170px"></textarea>
                                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>