<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block start %}
<html>

<head>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
  <div class="search-box">
    <form action="#" class="search" method="GET">
      {% csrf_token %}
    <input type="text" value="" id="search"
      style="border-radius: 20px; height: 37px; width: 400px; font-size: large;"  placeholder=" Type to search... " name="search_img">
    
      <button class="search-btn" href="" type="submit" ><img src="{% static 'img/sea.png' %}" alt="" height="23px"></button>
  </form>
  </div>

  <nav>
    <ul>
      <li class="dropdown">
        <a href="" name="selected_itm">CATEGORIES <span>&rsaquo;</span></a>
        <ul>
          <li class="dropdown-two"><a href="">Black clover<span>&rsaquo;</span></a>
            <ul>



              
              <li><a href="{% url 'selected_wallpapers' 'Asta' %}">Asta</a></li>
              <li><a href="{% url 'selected_wallpapers' 'Mag' %}">Magna Swing</a></li>
              <li><a href="{% url 'selected_wallpapers' 'luk' %}">luk</a></li>
              <li><a href="{% url 'selected_wallpapers' 'char' %}">char</a></li>
              <!--              <ul>
                <li><a href="black_lily.html">Lily Aquaria</a></li>
                <li><a href="black_litch.html">Licht</a></li>
                <li><a href="black_julilus.html">Julius Nova Chrono</a></li>
                <li><a href="black_william.html">William Vangeance</a></li>
                <li><a href="black_mere.html">Mereoleona Vermillion</a></li>
                <li><a href="black_fue.html">Fuegoleon Vermillion</a></li>
                <li><a href="black_nozel.html">Nozel Silva</a></li>
                <li><a href="black_char.html">Charlotte Roselei</a></li>
                <li><a href="black_leo.html">Leopold Vermillion</a></li>
              </ul>-->

            </ul>
          </li>
          <li class="dropdown-two"><a href="">Attack On Titan<span>&rsaquo;</span></a>
            <ul>
              <li><a href="">Eren Yeager</a></li>
              <li><a href="">Mikasa Ackerman</a></li>
              <li><a href="">Levi Ackerman</a></li>
              <li><a href="">Armin Arlert</a></li>
              <li><a href="">Annie Leonhart</a></li>
              <li><a href="">Reiner Braun</a></li>
              <li><a href="">Bertolt Hoover</a></li>
              <li><a href="">Sasha Braus</a></li>
              <li><a href="">Historia Reiss</a></li>
              <li><a href="">Connie Springer</a></li>
            </ul>
          </li>
          <li class="dropdown-two"><a href="">DeathNote<span>&rsaquo;</span></a>
            <ul>
              <li><a href="">Light Yagami</a></li>
              <li><a href="">L lawliet</a></li>
              <li><a href="">Misa Amane</a></li>
              <li><a href="">Ryuk [ 𝙎𝙝𝙞𝙣𝙞𝙜𝙖𝙢𝙞 ]</a></li>
              <li><a href="">Rem [ 𝙎𝙝𝙞𝙣𝙞𝙜𝙖𝙢𝙞 ]</a></li>
              <li><a href="">Near</a></li>
              <li><a href="">Mello</a></li>
            </ul>
          </li>
          <li class="dropdown-two"><a href="">Jujutsu Kaisan<span>&rsaquo;</span></a>
            <ul>
              <li><a href="">Goju satoru</a></li>
              <li><a href="">Yuji Itaduri</a></li>
              <li><a href="">Megumi fushiguro</a></li>
              <li><a href="">Nobara Kugisaki</a></li>
              <li><a href="">Toge Inumaki</a></li>
              <li><a href="">Maki Zenin</a></li>
              <li><a href="">Masamichi Yaga [ 𝙋𝙖𝙣𝙙𝙖 ]</a></li>
              <li><a href="">Mai Zenin</a></li>
              <li><a href="">Aio Todo</a></li>
            </ul>
          </li>
          <li class="dropdown-two"><a href="">Baki<span>&rsaquo;</span></a>
            <ul>
              <li><a href="">Baki Hanma</a></li>
              <li><a href="">Yujiro Hanma</a></li>
              <li><a href="">Emi Akezawa</a></li>
              <li><a href="">Kozue Matsumoto</a></li>
              <li><a href="">Jack Hanma</a></li>
              <li><a href="">Doppo Orochi</a></li>
              <li><a href="">Kaoru Hanayama</a></li>
              <li><a href="">Biscute Oliva</a></li>
              <li><a href="">Retsu Kaioh</a></li>
              <li><a href="">Kureha Shinogi</a></li>
            </ul>
          </li>
          <li class="dropdown-two"><a href="">Naruto<span>&rsaquo;</span></a>
            <ul>
              <li><a href="">Naruto Uzumaki</a></li>
              <li><a href="">Sasuke Uchiha</a></li>
              <li><a href="">Kakashi Hatake</a></li>
              <li><a href="">Itachi Uchiha</a></li>
              <li><a href="">Sakura Haruno</a></li>
              <li><a href="">Jiraiya</a></li>
              <li><a href="">Hiruzen Sarutobi</a></li>
              <li><a href="">Madara Uchiha</a></li>
              <li><a href="">Obito Uchiha</a></li>
              <li><a href="">Hinata Hyuga</a></li>
              <li><a href="">Minato Namikaze</a></li>
              <li><a href="">Gaara</a></li>
              <li><a href="">Rock Lee</a></li>
              <li><a href="">Iruka Umino</a></li>

            </ul>
          </li>
          <li class="dropdown-two"><a href="">The One Punch man<span>&rsaquo;</span></a>
            <ul>
              <li><a href="">Monkey D. Luffy</a></li>
              <li><a href="">Roronoa Zoro</a></li>
              <li><a href="">Nico Robin</a></li>
              <li><a href="">Nami</a></li>
              <li><a href="">Shanks</a></li>
              <li><a href="">Vinsmoke Sanji</a></li>
              <li><a href="">Sabo</a></li>
              <li><a href="">Portgas D. Ace</a></li>
              <li><a href="">Donquixote Doflamingo</a></li>
            </ul>
          </li>
          <li class="dropdown-two"><a href="">Demon slayer<span>&rsaquo;</span></a>
            <ul>
              <li><a href="">Tanjiro Kamado</a></li>
              <li><a href="">Nezuko Kamado</a></li>
              <li><a href="">Inosuke Hashibira</a></li>
              <li><a href="">Zenitsu Agatsuma</a></li>
              <li class="dropdown"><a href="">Kanao Tsuyuri</a></li>
              <li><a href="">Muzan Kibutsuji</a></li>
              <ul>
                <li><a href="">Giyu Tomioka [Current Hashira]</a></li>
                <li><a href="">Sanemi Shinazugawa [Wind Hashira]</a></li>
                <li><a href="">Tengen Uzui [Sound Hashira]</a></li>
                <li><a href="">Shinobu Kocho [Insect Hashira]</a></li>
                <li><a href="">Gyomei Himejima [Stone Hashira]</a></li>
                <li><a href="">Mitsuri Kanroji [Love Hashira]</a></li>
                <li><a href="">Muichiro Tokito [Mist Hashira]</a></li>
                <li><a href="">Rengoku Kyojuro [Flame Hashira]</a></li>
                <li><a href="">Sakonji Urokodaki [Water Hashira]</a></li>
                <li><a href="">Kanae Kocho [Flower Hashira]</a></li>
              </ul>
            </ul>
          </li>
          <li class="dropdown-two"><a href="">Tokyo Revengers<span>&rsaquo;</span></a>
            <ul>
              <li><a href="">Takemichi Hanagaki</a></li>
              <li><a href="">Hinata Tachibana</a></li>
              <li><a href="">[ Mikey ] Manjiro Sano</a></li>
              <li><a href="">[ Draken ] Ken Ryuguji</a></li>
              <li><a href="">Kazutora Hanemiya</a></li>
              <li><a href="">Atsushi Sendo</a></li>
              <li><a href="">Chifuyu Matsuno</a></li>
              <li><a href="">Keisuke Baji</a></li>
            </ul>
          </li>
          <li class="dropdown-two"><a href="">Spy X Family<span>&rsaquo;</span></a>
            <ul>
              <li><a href="">Anya Forger</a></li>
              <li><a href="">Loid Forger</a></li>
              <li><a href="">Yor Forger</a></li>
              <li><a href="">Franky Franklin</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="dropdown"><a href="{% url 'about_us' %}">ABOUT US</a></li>
      <li class="dropdown"><a href="">SUPPORT US <span>&rsaquo;</span></a>
        <ul>
          <li><a href="#"><img
                src="#" alt=""
                height="30px">Facebook</a>
          </li>
          <li><a href="#"><img
                src="#" alt="" height="30px">Instagram</a>
          </li>
          <li><a href="#"><img
                src="#" alt="" height="30px">Twitter</a>
          </li>
          <li><a href="#"><img
                src="#" alt="" height="30px">YouTube</a>
          </li>
        </ul>
      </li>
      <li class="dropdown"><a href="{% url 'connect_us' %}">CONTACT US</a><span class="tooltip"> In contact form you can give
          any suggetions like any ANIME name and their CHARACTER name. So it helps me to provide you more cool
          wallpapers. click On Contact Us...</span></li>

        


    </ul>
    <div class="logo"><img src="finalgo.png" alt="" /></div>
    <ul>
      {% if user.is_authenticated %}
      <li>
        <a href="{% url 'logout' %}"><button class="login-btn">&nbsp;&nbsp; LOGOUT&nbsp;&nbsp;</button></a>
      </li>
      
      {% else %}
      <li>
        <a href="{% url 'login' %}"><button class="login-btn">LOGIN / REGISTER</button></a>
      </li>
      {% endif %}
      
    </ul>
  </nav>

</body>



</html>

{% endblock %}