<!DOCTYPE html>
<html lang="en">
{% load static %}
<title>Login page</title>
<link rel="stylesheet" href="{% static 'css/loginpage.css' %}">
<body>
    <div class="full-page">
    <div class="navbar">

        <nav>
            <ul id='MenuItems'>
                <li style="color:rgba(0, 0, 0, 0) ;">Home</li>
                <li style="color:rgba(0, 0, 0, 0) ;">Home</li>
            </ul>
        </nav>
    </div>



    <div id='login-form' class='login-page'>
        <div class="form-box">
            <div class='button-box'>
                <div id='btn'></div>
                <button type='button' onclick='login()' class='toggle-btn'>Log In</button>
                <button type='button' onclick='register()' class='toggle-btn'>Register</button>
            </div>
            <div align="center">{% include 'aleart.html' %}</div>

            <a href="{% url 'home' %}"><button type='home' class='home-btn'>Home</button></a>

			<!-- Login -->
            <form id='login' class='input-group-login' method="POST">
				{% csrf_token %}
                <input type='text' class='input-field' placeholder='Email Id' required name="username">
                <input type='password' class='input-field' placeholder='Enter Password' required name="password">
                <input type='checkbox' class='check-box'>Remember Password
                <button type='submit' class='submit-btn' name="Submit_login">Log in</button>
            </form>

			<!-- Register -->
            <form id='register' class='input-group-register' method="POST">
				{% csrf_token %}
                <input type='text' class='input-field' placeholder='First Name' required name="first_name">
                <input type='text' class='input-field' placeholder='Last Name ' required name="last_name">
                <input type='email' class='input-field' placeholder='Email Id' required name="email">
                <input type='password' class='input-field' placeholder='Enter Password' required name="password1">
                <input type='password' class='input-field' placeholder='Confirm Password' required name="password2">
                <input type='checkbox' class='check-box'><span>I agree to the terms and conditions</span>
                <button type='submit' class='submit-btn' name="Submit_Register">Register</button>
            </form>

			
        </div>
    </div>
    </div>

    <script>
        var x = document.getElementById('login');
        var y = document.getElementById('register');
        var z = document.getElementById('btn');
        function register() {
            x.style.left = '-400px';
            y.style.left = '50px';
            z.style.left = '110px';
        }
        function login() {
            x.style.left = '50px';
            y.style.left = '450px';
            z.style.left = '0px';
        }
    </script>
    <script>
        var modal = document.getElementById('login-form');
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>

</html>